body {
  background-color: #ce3635;
  text-align: center;
  color: #fff;
  padding-top: 8em;
}

* {
  color: #fff;
  text-decoration: none;
}
.intro {
  height: 120px;
  font-family: "Baloo Bhai", cursive;
}
a:hover {
  color: black;
}
