/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.work-button.animated.bounceInDown {
  -webkit-animation: bounce 3s infinite ease-in-out;
  -o-animation: bounce 3s infinite ease-in-out;
  -ms-animation: bounce 3s infinite ease-in-out;
  -moz-animation: bounce 3s infinite ease-in-out;
  animation: bounce 3s infinite ease-in-out;
}

a:hover {
  color: #0078ff;
  text-decoration: none;
}
a,
a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.back-to-top {
  display: none;
  background: #0078ff;
  width: 44px;
  height: 44px;
  line-height: 1;
  font-size: 16px;
  right: 15px;
  bottom: 15px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  z-index: 11;
  position: fixed;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}
.back-to-top i {
  padding-top: 12px;
  color: #fff;
}
.back-to-top.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.back-to-top.fadeIn {
  display: block;
}
.fa-chevron-up:before {
  content: "\f077";
}
.skill-process {
  border-radius: 20px !important;
  background-color: rgba(0, 0, 0, 0.1);
}
.progress-bar {
  border-radius: 20px;
  background-color: #d6185e !important;
}
.progress-bar.animated {
  border-radius: 20px;
}
.progress-bar.fill-90-bar.animated {
  background-color: #d6185e;
  animation: progressBar90 2s ease-in-out;
  animation-fill-mode: forwards;
}
.progress-bar.fill-80-bar.animated {
  background-color: #d6185e;
  animation: progressBar80 2s ease-in-out;
  animation-fill-mode: forwards;
}
.progress-bar.fill-70-bar.animated {
  background-color: #d6185e;
  animation: progressBar70 2s ease-in-out;
  animation-fill-mode: forwards;
}
.progress-bar.fill-60-bar.animated {
  background-color: #d6185e;
  animation: progressBar60 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes progressBar90 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
@keyframes progressBar80 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes progressBar70 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes progressBar60 {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
.progress-bar.fill-80-bar.animated:after {
  content: "80%";
  width: 6px;
  height: 6px;
  position: absolute;
  right: 25%;
  top: 5%;
  color: white;
}
.progress-bar.fill-90-bar {
  width: 90%;
}
.progress-bar.fill-80-bar {
  width: 80%;
}
.progress-bar.fill-70-bar {
  width: 70%;
}
.progress-bar.fill-60-bar {
  width: 60%;
} */
